*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}
hr{
    border-color: #66BFBF;
   border-style: dotted none none;
   border-width: 5px;
   width: 5vw;
   margin: auto;
}
h1{
     position: relative;
     line-height: 2;
    margin: 1rem auto 0 auto;
    color:  #66BFBF;
    
font-family: 'Sacramento', sans-serif;
font-size: 562%;
   
}
p{
    
 
font-family: 'Montserrat', sans-serif;
font-size:1rem;
}
h3{ 
    
    color:  #66BFBF;
    
}
.container:hover{
    background-color: #30e3cb;
}
.container{
    background-color:#11cdd4;
    display: flex;
    
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 50px;

}
.box{
    padding: 40px;
}
.top{
    position: relative;
    left: 20vw;
    
}
.bot{
    
    position: absolute;
    
    left: 25vw;
   
}

.middle-container img{
      border-radius: 100%;
      height: 25vh;
      
}
.content{
    color:  #66BFBF;
    padding: 15px;
    font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  font-size:2.5rem;
}
h2{
    color:  #66BFBF;
}
.skills{
    margin-top:70px;
}
.skill-row{
    line-height: 2;
    text-align: left;
    margin:1rem auto 1rem auto;
    width :50vw;
    height: 25vh;
}
.profile{
    display: flex;
    flex-direction: column;
    line-height: 2;
    
  
    width :30vw;
    justify-content: center;
   align-items: center;
    margin-bottom: 12vh;
    margin-left: auto;
    margin-top: 10vh;
    margin-right: auto;
}


.ws{ 
  
    float:right;
}
.us{ 
    padding-right: 2vw;
    float:left;
}
.ui{
    padding-bottom: 25px;
}
.contact-me,h3,p{
    margin-top: 20px;
}
.contact-me p{
    margin-bottom: 20px;
}
.contact-me h2{
    margin-top: 70px;
    margin-bottom: 40px;
}
.footer-link{
    padding: 20px;
}

.bottom-container{
    background-color:#11999e

    ;
    margin-top: 20px;
}
.bottom-container:hover{
    background-color: #2bc4ad

    ;
    margin-bottom: 50px;
    
}
button{
    background-color: #66BFBF;
    padding: 10px;
    text-decoration: none;
    border-radius:8px;
    font-size: 1rem;
    
}
.bottom-container ,a,p{  
    padding: 10px;
    text-decoration: none;
}
button a{
    color: white;
    text-decoration: none;
    
}
.bottom-container p{
      color:white;
     
}
.bottom-container a:hover{
      color:white;
     
}
button:hover{
    background-color: #11999e;
   
    
}
